<%= form_with(model: [@bill, @bill.percentages.build ], local: true) do |form| %>
  <td><%= form.submit %></td>
  <td>
    <%= form.text_field :name, class: "input-group" %>
  </td>
  <td>
    <%= form.text_field :amount, class: "input-group" %>
  </td>

<% end %>