<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
       <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @bill.percentages.each_with_index do |item, idx| %>
      <tr>
        <th scope="row"><%= idx + 1%></th>
        <td><%= item.name %></td>
        <td><%= item.amount %></td>
      </tr>
    <% end %>
    <tr>
       <%= render 'percentages/form' %>
    </tr>
  </tbody>
</table>
</div>