<div class="container">
  <h2>
    New Bill
  </h2>

  <%= form_with scope: :bill, url: bill_index_path, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "Create" %>
  <% end %>
</div>